.header-nav{
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
     height: 3.75rem;
     color: #BBBBBB;
     align-items: center;
     padding: 1rem 0;
     .logo_image img{
        width: 130px;
        @media screen and (max-width: 790px) {
            width: 90px;
        }
     }
    .nav_options{
        display: flex;
        flex-grow: 2.5;
        margin-left: 2rem;
        @media screen and (max-width: 790px) {
            display: none;
        }
        ul{
           display: flex;
           justify-content: space-between;
           color: rgba(0,0,0,.5);
            .li{
                padding: 0 1.5rem;
                margin-left: 2rem;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0;
                color: #A2A2A2;
                :active{
                    color: black;
                }
            }
        }
        .btn-group{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
            button{
                outline: none;
                background-color: transparent;
            }
            .secondary {
                margin: 0 1rem;
                button{
                    padding: 0.75rem 1.35rem;
                    border-radius: 0.4rem;
                    border: 2px solid #59D882;
                    background-color: transparent;
                    font-size: 14px;
                }
            }
            .primary-1{
                margin: 0 1rem;
                button{
                    border-radius: 0.4rem;
                    padding: 0.75rem 1.35rem;
                    border: 1px solid #59D882;
                    background-color: #59D882;
                    font-size: 14px;
                    box-shadow: 0 8px 10px rgba(45,216,130,.3);
                    white-space: nowrap;
                    text-align: center; 
                    @media screen and (max-width: 1024px) {
                        padding: 0.75rem 1.35rem;
                        font-size: 10px;
                        margin: 0 0rem;
                        
                    }
                }
            }
        }
        
}
}
.btn-small1{
  @media (max-width: 790px){
        background-color: rgb(92, 92, 92);
        width: 47px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding-left: 4px;
        right:1rem;
        box-shadow: 0 0px 10px rgba(18, 18, 19, 0.459);
        top: 1rem;
        z-index: 0;
    }
  @media (min-width: 791px){
    display: none;
  }
}
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 26px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    .toggle-button__line {
    width: 20px;
    height: 2px;
    background: #000;
}
    .toggle-button_line {
    width: 20px;
    height: 2px;
    background: #fff;
}
}
.m-nav{
    position: absolute;
    height: 20%;
    top: 2%;
    right: 4%;
    background-color: #59D882;
    color: white;
    padding: 3rem 4rem;
    text-align: center;
    font-family: 'Montserrat';
    animation: Slide 1s ease-in 1;
    h4{
        font-family: 'Montserrat';
        margin: .5rem 0;
        padding: 0;
    }
    a{
        color: white;
    }
}
@keyframes Slide {
    from {
        opacity: .9;
        transform: translateX(100%);
    }
    
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}