.loans_page{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #F8FAFD;
    .loan_content{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        .m_nav{
            width: 100%;
            height: 100%;   
            text-align: center;
            overflow: hidden;
            position: absolute;
            z-index: 2000;
            animation: navSlide 1s ease-in 1;
            .wnl{
                width: 100%;
                height: 100%;
            }
        }
    }
    .loan_headers{
        h2{
            padding: 1.5rem 2rem 0;
            margin: 0;
            color: #031037;
             @media (min-width: 370px) and (max-width: 700px){
                white-space: nowrap;
                font-size: 1.2rem;
            }
        }
        span{
            margin: .83rem 1rem 0;
            font-size: 13px;
            color: grey;
            padding-bottom: 1rem;
            margin-bottom: 1rem;

        }
        main{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            @media (max-width: 767px) {
                display: grid;
                grid-template-rows: 1fr;
                align-items: center;
            }
            .loan-balance{
                width: 16rem;
                height: 9.75rem;
                margin: 1rem 0;
                border: 1.5px solid rgb(221, 218, 218);
                border-radius: 8px;
                box-shadow: 0 10px 27px rgba(161,184,227,.18);
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 13rem;
                    h1{
                        font-size: 1rem;
                    }
                    h4{
                        white-space: nowrap;
                    }
                }
                .p_content-header{
                    width: 100%;
                    border-bottom: 2px solid #5AD882;
                    border-radius: 8px;
                }
                
                h4{
                    margin: .75em 10px .4em;
                    color: #A9ABBE;
                }
            }
            
            .loan-values{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-bottom: 2px solid #F8D7DA ;
                    border-top: 2px solid #F8D7DA ;
                    border-radius: 8px;
                    margin-top: 1.5rem;
                    h2 {
                        margin: 0;
                        padding:.3rem 0;
                    }
                }
            .due-dates{
                width: 16rem;
                height: 9.75rem;
                margin: 1rem 0;
                border: 1.5px solid rgb(221, 218, 218);
                border-radius: 8px;
                box-shadow: 0 10px 27px rgba(161,184,227,.18);
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 10rem;
                    h4{
                        white-space: nowrap;
                        font-size: 14px;
                    }
                }
                .p_content-header{
                    width: 100%;
                    border-bottom: 2px solid #5AD882;
                    border-radius: 8px;
                }
                h4{
                    margin: .75em 10px .4em;
                    color: #A9ABBE;
                }
            }
            .active-loans{
                width: 22rem;
                height: 9.75rem;
                margin: 1rem 0;
                border: 1.5px solid rgb(221, 218, 218);
                border-radius: 8px;
                box-shadow: 0 10px 27px rgba(161,184,227,.18);
                color: #A9ABBE;
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 16rem;
                    h1{
                        font-size: 1rem;
                    }
                    h4{
                        white-space: nowrap;
                    }
                }
                @media (max-width: 767px) {
                    width: 16rem;
                }
        }}
        .loan_form{
            max-width: 26.25rem;
            margin: auto;
            background-color: white;
            padding: 1rem 2.5rem;
            border-radius: 16px;
            h3{
                text-align: center;
                margin-bottom: 1.2rem;
            }
            button{
                    text-align: center;
                    width: 100%;
                    height: 3rem;
                    margin: 1rem auto;
                    border-radius: 8px;
                    background-color: #5AD882;
                    color: white;
                    font-size: 1rem;
                   
                }
            .signup_form-input-label{
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: .1px;
                color: #0d0d21;
                opacity: .5;
                margin-bottom: 0;
                margin-top: .8rem;
            }
            .signup_form-input-label-1{
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: .1px;
                color: #0d0d21;
                opacity: .5;
                margin-bottom: 0;
                margin-top: .5rem;
            }
            .form-input-1{
                margin: 5px 0;
                position: relative;
                display: flex;
                align-items: center;
                background: #f8f8f8;
                border-radius: 10px;
                padding: 0 .5rem;
                justify-content: space-between;
                .input_field{
                    display: block;
                    border: none;
                    height: 50px;
                    background: #f8f8f8;
                    border-radius: 10px;
                    padding-left: 3%;
                    color: #000;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    outline: none;
                    overflow: visible;
                    align-items: center;
                    width: 26rem;
                }
                .form-input-2{
                    margin-bottom: 1rem !important; 
                }
            }
        }
    }
    
    .balances{
                margin-top: 2rem;
                background-color: white;
                border-radius:10px ;
                padding-bottom: 1rem;
                margin: 1rem 2rem;
            }
            @media (min-width: 413px) and (max-width: 700px){
                h4{
                    font-size: 10px;
                    white-space: pre;
                    padding: 0;

                }
            }
            .loan-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1.5rem;
                h2{
                    padding: 0;
                    margin: 0 2rem;
                }
                button{
                    text-align: center;
                    width: 9rem;
                    height: 3rem;
                    margin: 0 2rem;
                    border-radius: 8px;
                    background-color: #5AD882;
                    color: white;
                    font-size: 1rem;
                @media (min-width: 370px) and (max-width: 700px){
                white-space: nowrap;
                font-size: 1em;
                width: 9rem;
                margin: 0 2rem;
            }
                }
            }
}
    .table_body{
        width: 96%;
        align-self: center;
        margin: 1rem auto;
        @media (min-width: 300px) and (max-width: 700px){
            display: none;
            }
        h4{
            margin: .75em 10px .4em;
        }
    }

    .table-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        background-color: rgba(238, 92, 92, 0.808);
        border-radius: 8px;
        
        h4{
            color: white;
            @media (max-width: 790px){
                            // white-space: nowrap;
                            font-size: .5rem;
                            text-transform: lowercase;
                        }
        }
        h4{
            margin: .75em 10px .4em;
            @media (max-width: 790px){
                            // white-space: nowrap;
                            font-size: .5rem;
                            text-transform: lowercase;
                        }
        }
    }
    @keyframes navSlide {
    from {
        opacity: .9;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}