.dashboard_content{
    padding: 0 1.5rem;
    background-color: #F8FAFD;
    overflow: hidden;
    .Header_section{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
        // background-color: white;
        margin: 1.75rem 0 1.7rem;
        padding-bottom: .5rem;
        padding-top: .75rem;
        .Header_title{
            color: #031037;
            font-weight: 700;
            font-size: 1.75rem;
            h3{
                margin-bottom: 0;
                line-height: 1.5rem;
            }
            span{
                font-size: 1rem;
                line-height: 0;
                color: rgba(0,0,0,.5);
                padding: 0 2px;
            }
            
        }
        .Header_portfolio{
            width: 280px;
            height: 9rem;
            border: 2px solid rgba(0,0,0,.25);   
            border-radius: 8px;
            padding: 0 1.5rem;
            color: #2DD882;
            // font-style: italic;
            background-color: #DFFAE5;
            h4{
                font-weight: 700;
                margin: 16px 0;

            }
            
        }
        .shadow-4dp {
             box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 3px -2px 0 rgba(0,0,0,.2), 0 1px 8px 0px rgba(0,0,0,.12)
            }
    }
        .trending_stocks{
            padding-top: .5rem;
            color: #031037;
            .t_stocks{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
    }
    .market_news{
        // margin-top: 2px;
        h2{
            padding-top: 10px;
            margin-bottom: 6px;
            color:#031037;
        }
        .m-news{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        margin-bottom: 10px;
        ::-webkit-scrollbar {
                width: 4px;
                }}
            ::-webkit-scrollbar-track {
            background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
            background-color: #d6dee1;
            border-radius: 20px;
            border: 2px solid transparent;
}
            ::-webkit-scrollbar-thumb:hover {
            background-color: #a8bbbf;
            }

}
 @media screen and (max-width: 1024px) {
        .t_stocks{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-around;
            }
    }