.dashboard_content{
    padding: 2.5rem 1.5rem 0;
    .Header_section{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
        margin: 1.4rem 0 1.2rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        .Header_title{
            color: #2DD882;
            font-weight: 700;
            font-size: 1.75rem;
            h1{
                margin-bottom: 0;
                line-height: 1.5rem;
            }
            span{
                font-size: 1rem;
                line-height: 0;
                color: rgba(0,0,0,.5);
                padding: 0 2px;
            }
            
        }
        .Header_portfolio{
            width: 250px;
            height: 11rem;
            border: 2px solid rgba(0,0,0,.1);   
            border-radius: 8px;
            padding: 0 1.5rem;
            color: #2DD882;
            font-weight: 700;
            
        }
        .shadow-4dp {
             box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 3px -2px 0 rgba(0,0,0,.2), 0 1px 8px 0px rgba(0,0,0,.12)
            }
    }
        .text_dummy{
        position: relative;
        color: red;
        font-weight: 500;
        text-align: justify;
        margin: 0 2.1rem;
    }
    
}