.s-card{
    width: 198.35px;
    height: 260px;
    border-radius: 10px;
    background-color: #f8f8f8e7;
    margin-right: 8px;
    margin-bottom: 1.5rem;
    .stock_title{
        h4{
            padding-left:8px;
            font-size: 14px;
            font-weight: 400;
            margin: 7px 0 0px;
            text-transform: capitalize;
            letter-spacing: -1px;
        }
    }
    h5{
        padding-left:8px;
        margin: 0 0;
        padding-bottom: 3px;
        font-weight: 700;
        font-size: 11px ;
        color: #031037;
    }
    .stockimage_desk{
        display: flex;
        justify-content: center;
        align-items: center ;
    }
    .stocklogo{
        width: 170px;
        height: 160px;
        justify-content: center;
    }
    .prices{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 6px 0;
        text-align: center;

        h5{
            margin: 0 0;
            padding-bottom: 0;
        }
        span{
            font-size: .83em;
        }
    }
}