.table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #F8FAFD;
    border: 1px solid #DDDADA;
    border-radius: 8px;
    margin: .5rem 0;
    padding: 0 1rem;
    color: #031037;
}