.table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #F8FAFD;
    border: 1px solid #DDDADA;
    border-radius: 8px;
    margin: .5rem 0;
    padding: 0 1rem;
    color: #031037;
}
.sym{
    margin: 0.75em 20px 0.4em;
    margin-left: -4.5rem;
    @media (max-width: 790px) {
        margin-left: -2rem;
    }
}
.pps{
    margin-left: -1.5rem;
    @media (max-width: 790px) {
        margin-left: -.5rem;
    }
}
.eqv{
    margin-right: 3rem;
    @media (max-width: 790px) {
        margin-left: -2rem;
    }
}