.buzz{
  width: 100%;
  font-family: 'Montserrat', Times, serif;
  a{
    text-decoration: none;
    outline: none;
}
li{
    list-style: none;
}
button{
  outline: none;
  border: none;
}
}
.btn-small{
  @media (min-width: 791px){
    display: none;
  }
}
