.onboarding-desk{
    overflow: hidden;
    .onboarding-header{
        margin: 0 6rem;
        @media (max-width: 600px) {
            margin: 0 2rem;
        }
        
    }
    .hero-desk{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        height: 90vh;
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 1rem;
    }
    .hero-content{
        width: 100%;
        margin: 3rem 6rem;
        h1{
            font-size: 4rem;
            color: #0D0D21;
            line-height:50px;
            margin-top: 2rem;
            vertical-align:baseline;
            letter-spacing:1px;
            word-spacing:0px;
            font-weight: 900;
            font-family: 'Times New Roman', Times, serif;
            margin-top: 0;
        }
        h2{
            font-size: 1rem;
            color: #2C2E30;
            line-height:36px;
            vertical-align:baseline;
            letter-spacing:normal;
            word-spacing:0px;
            font-weight: 700;
        }
    }
    .hero-image{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            vertical-align: middle;
            border-style: none;
            overflow: hidden;
        }
        .hero_image{
            max-width: 1150px;
            z-index: -2;
            position: absolute;
            left: -200px;
            top: -1rem;
        }
    }
}
@media screen and (min-width: 801px) {
    .get-st{
        display: none;
    }
    .btn-desk{
        display: none;
    }
}
 @media screen and (max-width: 800px ){
        .onboarding-header{
        margin: 0 0
    }
    .hero-content{
        h1{
            font-size: 2rem;
            color: #0D0D21;
            line-height:50px;
            margin-top: 2rem;
            vertical-align:baseline;
            letter-spacing:1px;
            word-spacing:0px;
            font-weight: 900;
            font-family: 'Times New Roman', Times, serif;
            margin-top: 0;
        }
        .get-st{
            display: flex;
            border: none;
            outline: none;
            margin: 0 0 1rem;
            padding: 1rem 5rem;
            border-radius: 8px ;
            background-color: #5AD882;
            cursor: pointer;
            color: white;
        }
    }
    .hero-image{
        display: none;
        background-image: url('../../bg-images/signin_background.80f9804d.jpg');
    }
    }